@import "tailwindcss";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --primary-color: #3B5BFC;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));


}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} 
/* text-gradient.css */
.text-gradient {
  background: linear-gradient(90deg, #22d3ee, #3b82f6, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Dành cho chrome mới + firefox */
  background-clip: text;
  color: transparent;
}
